/Symfony/app/bootstrap.php.cache
/Symfony/app/cache/*
/Symfony/app/config/parameters.yml
/Symfony/app/logs/*
!/Symfonyapp/cache/.gitkeep
!/Symfonyapp/logs/.gitkeep
/Symfony/build/
/Symfony/vendor/
/Symfony/bin/
/Symfony/composer.phar
/Symfony/composer.lock
*~
.project
.settings
.buildpath
/Symfony/web/import_students/*
/Symfony/web/question_images/*
/Symfony/nbproject


/nbproject/private/