{% extends 'OnlineTestAdminBundle:Admin:aboutSystem.html.twig' %}

{% block function_title %}
    <span>修改密码</span>
{% endblock %}
{% block function_content %}
    {% block fos_user_content %}
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock %}
