{% extends 'OnlineTestAdminBundle::admin.html.twig' %}
{% block admin_main_left %}
    <ul>
        <li><a href="{{ url('result_list') }}" class="button button-rounded button-flat-primary">结果详情与统计</a></li> 
    </ul>
{% endblock %}